[user]
  name = JJ Chen
  email = 2905873+jiajie-chen@users.noreply.github.com
	signingkey = 0C70AC8283A138AC
[includeIf "hasconfig:remote.*.url:https://github.huit.harvard.edu/**"]
	path = ~/.gitconfig.huit

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true

[core]
  editor = code -n --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
