[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
  name = JJ Chen
	signingkey = 0C70AC8283A138AC
[core]
  editor = code -n --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
